@model TechNews.Areas.BackEnd.Models.Admin

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Admin</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminAccount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastLogin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastLogin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Group)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Group.GroupId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AdminId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
